.multiSelect_dropdown {
    display: inline-block!important;
}

.multiSelect_dropdown-content {
    display: none;
    position: absolute;
    background-color: #750000;
    font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    color: #fff;
    min-width: 160px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    z-index: 5000;
    margin-top: -6px;
}
.multiSelect_dropdown-content li{
    line-height: 1.2;
}
.multiSelect_dropdown:hover .multiSelect_dropdown-content {
    display: block;
}

.multiSelect_dropdown .menuTitle:hover {
    color: #091D42;
    background: #fff;
}

.multiSelect_dropdown DIV UL {
    list-style-type: none;
    padding: 0 5px;
    margin: 2px;
}

.multiSelect_dropdown label {
    cursor: pointer;
    display: block;
    line-height: 1em!important;
    padding: 0px!important;
    font-size: 0.8em;
    margin: 0px!important;
}

.multiSelect_dropdown DIV LI:hover {
    color: #091D42;
    background: #fff;
    cursor: pointer;
}

.multiSelect_dropdown DIV HR {
    border: none;
    border-top: 1px dotted white;
    margin: 0;
    padding: 0;
}
