
#settings {
    position: absolute;
    top: 20%;
    left: 20%;
}

#ionSelection {
    background-color: #FFF;
    color: #333;
}

.dropdown {
    display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #750000;
    font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: #fff;
    min-width: 160px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    z-index: 5000;
}
.dropdown-content li{
    line-height: 1.2;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .menuTitle:hover {
    color: #091D42;
    background: #fff;
}

.dropdown DIV UL {
    list-style-type: none;
    padding: 0 10px;
    margin: 2px;
}

.dropdown label {
    cursor: pointer;
    display: block;
}

.dropdown DIV LI:hover {
    color: #091D42;
    background: #fff;
    cursor: pointer;
}

.dropdown DIV HR {
    border: none;
    border-top: 1px dotted white;
    margin: 0;
    padding: 0;
}