
#manUpPepForm section{
	margin-bottom:2%;
}

#manDataInput-topSectionLeft{
	margin-bottom: 30px;
	width: 40%;
	min-width: 300px;
	display: inline;
	min-width: 300px;
	margin-right: 2%;
	float: left;
}

#manDataInput-pepSeq{
	width: 100%;
	margin-bottom: 10px;
}

#manDataInput-peakList{
	padding-bottom: 0px;
	line-height: 1.3em;
	height: 200px;
}

#manDataInput-topSectionRight{

}

#manDataInput-pepPreviewText{
	padding-bottom:15px;
}

#manDataInput-pepPreviewDiv{
	height: 200px;
	font-size: 100%;
	overflow-y: hidden;
	position: relative;
	line-height: 1.0em;
}

#manDataInput-pepPreViewSVG{
	width: 100%;
	height: 60%;
}

#manDataInput-pepPreViewInstructions{
	font-size: small;
	bottom: 5px;
	position: absolute;
}

#manDataInput-midSection{
	clear: left;
	text-align: center;
	display:  flex;
	flex-direction:  row;
	padding-left: 2%;
}

.manDataInput-midSection-el{
	margin-right: 2%;
	display: inline;
	flex-grow: 1;
}

#manDataInput-ClSelect{
	cursor: pointer;
	flex-basis: 20%;
}

#manDataInput-charge{
	flex-basis: 5%;
}

#manDataInput-ionSelection{
	flex-basis: 20%;
}

#manDataInput-ionSelectionInput{
	width: 100%;
}

#manDataInput-tolVal{
	flex-basis: 10%;
}

#manDataInput-tolUnit{
	flex-basis: 5%;
	cursor: pointer;
}

#manDataInput-modTable_wrapperOuter{
	height: auto;
}

#manDataInput-bottomControls{
	background-color: #555;
	margin-top: 30px;
}
