#settingsWrapper{
    display: none;
    z-index: 2;
    right: 5%;
    top: 10%;
    width: 560px;
    height: 500px;
    min-width: 500px;
    min-height: 490px;
    /* overflow-y: auto; */
    font-size: 10pt;
    border: 1px solid #333;
}

#settings_main .form-control{
  display: inline-block;
  background-color: #fff;
  /* flex-grow: 1; */
}

#settings_main .settings-tab{
  flex-grow: 1;
}

#settings_main #settingsForm{
  flex-grow: 1;
}

#settings_main .flex-column{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

#settings_main .flex-row{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

#settings_main .flex-grow {
    flex-grow: 1;
    margin-left: 5px;
}

#settings_main .flex-grow input{
    width: 100%;
}

#settings_main .midDataDiv{
  flex-grow: 1;
}

#settings_main .label {
    font-size: 0.9em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    white-space: nowrap;
    vertical-align: middle;
}

#settings_main .settings-bottom{
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
}

.settings_menu{
    font-size: 1.5em;
    margin: -6px 0px;
    /* border-top: 1px solid #ccc; */
}

.settings_menu .btn{
  margin: 0px -5px 0px 0px;
  padding-left: 18px;
  /* border-left: 1px solid white; */
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-radius: 2px 10px 0 0;
  background: #666;
}
.settings_menu .active{
  background: #333!important;
}
.settings_menu .active:hover {
    color: #fff;
}

#settings_main{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

#settings_main .label .form-control{
  height: 2.5em;
}

#settings_main #settingsPeaklist{
  height:100%;
}

.pointer{
  cursor: pointer;
}

.resetMod{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAFaUlEQVRoQ+1YaWwUZRh+3plp60pJC4GIZUEgsXigRgvqD0BqW2oLpYWkaLiCoYjUNlgx9fphDcSDCBVbSitVCRCRJYQA5ehFEfihUjRqUFoTqhzVKpRyuWW7O6+Z0iHDdnZnZncIEJhkszPf937P8b3fNUO4xS+6xfXjjoEbncE7Gbg9MjBzixNeKsWmaVl2G76+QyjbJQqSmA+mJQCi5a+n2c5nO6DawxEztibIjAoACWqZb+NU2/lsB0S2K1qSopaAOB+AqB0y3q+ybOezFTBy1tYsMJUAcOqNdY/HE4vN08/ZOQ9sMeCYucUpQyoFIdNAnJuBzQK4snND1gE7jIRnINslRkVF5RFhqTJJLQpqInCFu9PzKTZP91lsezU8LAN3z95eAcJLoZL3tKv6j6NewPrUS6HghGUA2S6xj8ORx4SlZD0DGr3ciAiefKkys82qifAM9LA5cnY5Ra9cCrDRHAh2emwBkH5hbcZRKyZsMaAS9p27IwtEJRRgFTIURmg+Lw0ahc9GdxnG9gTYakDBHJjrir7cGb2E0HsfAKga4NRg4ghY3PHFpBU3zIBKHJNTlSAyVbBmJz77+STql7M7HSyvAjAsgMhzXRFS/MXy1H/MmLA9A9eQZrvE/jHRyo7cfRZqr0zv5oudt/M+gUjZB4boi6TK9sq0+TfeQI+C/jm7nERUemZN2tXT6ID5O+MZdDjA/iFD9A09U55xysjE9c2AAfvABbvfB+MtvTBmIeP0mtSqm9qAc96e/h4Jf+plgcFv/1uR9sFNbUARd8+CPXtBSNQRurGt/LkZthiIW1gzhYE0EF8dcsTU1il5l7eXpJ83IglWf+/C6jIAC3Vijvy1OnWUEbapORCXW90BIKYXGFNe6+qJypIY8jU4t/odRvdh0P/qbC1LdRgBmzIw+JWakwAG9zaADafKJs42IglW78ytWQ/CLJ2YUydXTdR9r9DGmjIwJL/2ezDG6JD8dqI05aFwDAzJq/0VwIO9MAiHTpSkPGmEbcrA0PzaTQCm64DJDocjtmnZ2AtGRHr1IwsP9nW73crwFHTqXcdLUp43wjVlYFh+/Vwm/lIPjIk/Ob4ypcCISK9+2KLaYjC9qtuW6cU/SpLWGuGaMhC/uGFAl9f3t/9Leg84AzShZWXSfiMybf3wRfXjAd4H6J6wfRGSOKh5eeJpI0xTBhSQEQX1O8CYrAtI1CJBTm4uTj5mRKjUxxfUjfBCqAPzcH08VB0rTsowg2XawPBFdY+KgvBjgPGqcF0i8Ou/FyeVByO+v6D+ZQZ9DKBPgDjZJ8uPt6xM/tlWA1d6bu86Jhgtm/uJaTsL8qFIt/CD0s7jkJ8gWRjDxFMAjA8mjBjrm4ufnWNGvBJjOgNK8CNvHuh3ucv3LcDx5ghIvhLHeqvMtRDdSqg5ShKf/uXDcWfN4Vs0oIA+8FpdPAvidwTEmiUJMG+uKWagg3ziU0dXjGu2gmspAyrwyMKG0QLTNgBxVsgCTFiluFUGZzYtS2y0iheSAYVkZOHBOAG+bQSMtkJKvRkbvSxmNi0b22oFR40N2YACMKGoQTrtpvkAvaucjAMK0GdpA/N7Axy8Zl9RojcU8ZYncSCSh4saosVOaQ6DpwJ4BoSIALHK55JviGmr7y7vuiNFiRdDFW5LBvTIE96ojfFIkY8RUxwRdc8RZm5l4tZIr+enwx+l3Hxfp8PtxXDahzUHwiG2q+1tbUAxr/60C4KZTuGeDCj/evemE2SGTBWpHAe0ov2fAxnSivEXqxpQ/5Wjh7ZM+xxkHwzs11+8VrR6r1emNaPc+wtVnrXi1Hv/Mm15SAb8G6kZ0+ttf9Ha4WXU8yEPpf8BwRqnQJnMMukAAAAASUVORK5CYII=);
    height: 16px;
    width: 16px;
    visibility: hidden;
    color: #446EB0;
    margin-left: 5px;
    cursor: pointer;
}

.settingsDataLeft{
    display: inline;
    margin-right: 2%;
    flex-grow: 5;
    flex-basis: 300px;
}

.settingsDataRight{
    flex-grow: 1;
}
#modificationTable_wrapper{
  width: 100%;
  height: auto;
}

#modificationTable_wrapperOuter{
  width: 100%;
  height: auto;
  margin-top: 15px;
}

#settingsCustomCfg-input{
  height: 440px;
  width: 100%;
  /* margin: 0px 20% 0px 6px; */
}

#settings {
    position: absolute;
    top: 20%;
    left: 20%;
}

#ionSelection {
    background-color: #FFF;
    color: #333;
}

#settings_main .invisible {
    visibility: hidden;
    display: none;
}

#settings_main .userModified{
    background-color: #a0bbde !important;
    font-weight: bold !important;
}

#settings_main #ionList input{
    width: unset;
}

.settings-bottom{
  text-align: center;
  margin-top: 10px;
  bottom: 10px;
  /* position: absolute; */
  width: 95%;
}

#settingsPeaklist{
  height: 170px;
  min-height: 140px;
  min-width: 220px;
  white-space: nowrap;
  line-height: 1.4em;
  padding-left: 10px;
  padding-top: 8px;
}

#customCfgHelp{
  display: none;
  height: 500px;
  margin-bottom: 1em;
  white-space: nowrap;
}

#toggleCustomCfgHelp{
  margin: 0.2em 0em;
}
