@charset 'UTF-8';
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/bold/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS  */
       url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */
}

/* Btn */
.btn {
    border: none;
    font-family: inherit;
    color: inherit;
    background: 0 0;/*#091D42;*/
    cursor: pointer;
    padding: 5px 15px;
    margin: 2px 5px 2px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}
.btn-1a:active, .btn-1a:hover {
    color: #000;
    background: #fff!important;
}

/*tables*/
table {
    width:100%;
    font-size: 0.9em;
    left: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
}
thead{
    margin-top:10px;
    margin-bottom:10px;
}
th{
    padding-left:5px;
    padding-right:5px;
    vertical-align: middle;
    height: 30px;
}
td{
    padding-left:5px;
    padding-right:5px;
    vertical-align: middle;
    text-align: left;
}
th:first-child{
    padding-left:10px;
}
th:last-child{
    padding-right:10px;
}
td:first-child{
    padding-left:10px;
}
td:last-child{
    padding-right:10px;
}
tbody tr:hover td, tbody tr:hover td a, .spectrumShown{
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

/* fa */
.fa-home{
    font-size:1.5em;
    vertical-align:middle;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor:pointer;
}
.fa-home:hover {
    color: #091D42;
    background:white;
}
.fa-times-circle{
    vertical-align:baseline;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor:pointer;
    float:right;
    margin:2px;
    margin-right:22px;
}
.fa-times-circle:hover {
    color: #091D42;
    background:white;
    /* font-size: 1.5em; */
}

/* Common */
body, html{
    background: #fff;
    height:100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
body, input, select, textarea {
    Font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: 300;
    line-height: 1.3em;
    color: #888;
    -webkit-text-stroke: .15px;
    overflow: hidden;
}
.centre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.page-header{
    height:35px;
    padding-left: 10px;
    background-color: #091D42;
    color: #fff;
    position: absolute;
    /* increased z-index to 50 so it's children (i.e. drop-down menus) overlay floating windows */
/*
    todo? would be better if floaty windows didn't go under this -- cc
*/
    z-index: 50;
}

.headerLabel{
    text-transform: uppercase;
    margin-right:10px;
}

/* network page */
#mainView {
    /*    height:100vh;
    width:100vw;*/
    padding-bottom: 0;
    flex-flow: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
/
    overflow:hidden;
    /* z-index:-1; */
    /* overflow: hidden; */
    /* height: 100vh !important; */
    }

#mainView .mainContent {
    top: 0px;
    /* bottom: 65px; */
    position: absolute;
    display: flex;
    flex-flow: column;
    /*
    display: table-row;
    height: 100%;
    */
    width: 100%;
    overflow: none;
    height: 100vh !important;
}

.page-header p {
    display: inline-block;
    padding-right:1px;
    padding-left:10px;
}

.btn-topNav{
    top: 3px;
    font-size: 1.2em;
    padding: 3px 4px;
    margin: 2px 2px 0px 2px;
}

#revertAnnotation{
  color: rgb(154, 186, 255);
}

.disabled{
  color: #999!important;
  cursor: default;
}

#topDiv {
    overflow:hidden;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.dist{
    height:100px;
}
.bar rect {
  fill: steelblue;
/*
  shape-rendering: crispEdges;
*/
}

.bar text {
  fill: #fff;
}

.peakAnnot{
    font-size:12px;
}
.fragBar{
    stroke-width:1.3px;
    stroke-linecap:round;
}

.resize path {
  fill: #888;
  stroke: #000;
  stroke-width: 1.5px;
}

.resize path.bevel {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1.2px;
}

.brush .extent {
}

.plotsDiv {
    display: flex;
    flex-direction: column;
    flex-grow:  1;
    flex-shrink:  0;
    height: calc(100% - 35px);
    position: relative;
}

#bottomDiv {
    position: relative; /* will overlay previous absolute divs i.e. distance slider */
    padding-top: 1px;
}

#modificationTable .form-control{
    height: 2.3em;
    font-size: 1em;
}

.dataTables_wrapper .form-control{
    height: 2em;
    margin: 4px 2px;
    padding: 0px 2px;
}

.modal{
  background: #333;
  width:650px;
  text-align: center;
}

.modal .content{
  margin: 1em 1.5em;
  color: #b1b1b1;
  font-size: 1.2em;
}

.modal .content strong{
  color: #ffffff;
  font-weight: 400;
}

.modal .content .label{
  margin-top: 1em;
}

.modal .header{
  font-size: 1.3em;
}

#saveModal #saveDBerror{
  margin-bottom: 5px;
}

.peaks .label{
  text-transform: initial;
}

.measureMasses {
    font-size: 0.8em;
    color: #666;
}

.label{
    font-size: 0.9em;
    line-height: 3.5em;
    cursor: pointer;
    /* padding: 5px 15px; */
    /* margin: 10px 0px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    display: block;
    white-space: nowrap;
    vertical-align: middle;
}

.flex-grow{
    flex-grow: 1;
    margin-left: 5px;
}

.flex-row{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.flex-grow input{
    width: 100%;
}

.closeTable{
    font-size: 1.4em;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: -27px;
}

.tableDiv{
    background: #750000;
    color: #fff;
    /* padding: 2px 10px; */
    border-bottom: 2px solid black;
}

.red{
    color: #982828;
}

#spectrumControls{
    font-size: 1.5em;
}

.listWrapper{
    padding: 1px 10px;
    color: #000;
    overflow-x: auto;
}

.bottom-lenMenu{
  padding-top: 0.2em;
  padding-left: 10px;
  display: inline-block;
}

#lock{
    margin-left: -11px;
    margin-right: -3px;
}

.dynDiv{
    padding-top: 30px;
    background: #333;
    overflow: hidden;
    color:#fff;
    position:fixed;
    pointer-events:all;
    border: 1px solid white;
    border-radius: 5px;
}

#specListTable {
  width: 100%;
  text-align:center;
}
#specListTable tr {
    cursor: pointer;
    white-space: nowrap;
}
.uniprotAccession{
  color: #333;
}
.dataTable a {
    color: #000;
    text-decoration: underline;
}
#altListTable tr {
    cursor: pointer;
}
#altListTable_wrapper .listToolbar {
    margin-top: 0.5em;
}

#specListColSelect input{
  margin: 2px!important;
}

.listToolbar{
    color: #fff;
    float: left;
    display: flex;
    font-size: 1.2em;
    margin-left: 5px;
}
.listToolbar input{
    vertical-align: middle;
    margin-bottom: 5px;
}
.listToolbar .btn{
    padding: 2px 8px;
    margin: 5px 0px 2px 3px;
}

.paginate_button a{
    color: #000;
}
.paginate_button.active{
  background-color: #333;
}
.paginate_button.active a{
  color: #999;
}
.paginate_button:hover a{
  color: #fff;
}
.paginate_button.disabled a{
  color: #fff;
  cursor: default;
}
.paginate_button.disabled a:hover{
  text-decoration: none;
}
.paginate_button {
  background-color: #fff;
}

.dynTitle {
    position: relative;
    left: 30px;
    top: 2px;
    letter-spacing: 0.5px;
    font-size: 0.9em;
    color: white;
}

A.btn {
    text-decoration: none;
}

/* For use with Split.js */

.gutter {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative; /* will overlay previous absolute divs i.e. distance slider */
}

.gutter.gutter-horizontal {
  background-image: url('../images/grips/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('../images/grips/horizontal.png');
  cursor: ns-resize;
}

.btn:disabled {
    color: gray;
    border-color: gray;
}

#clearHighlights {
	display: none;
}

#spectrumControls {
	width: 100%;
	background-color: #750000;
	display: block;
	color: #FFF;
}

/* DynDiv 0.5 by Markus Bordihn (markusbordihn.de) */

.dynDiv_moveDiv {
 cursor: move;
 position: absolute;
 overflow: hidden;
}

.dynDiv_resizeDiv_tl,.dynDiv_resizeDiv_tr,.dynDiv_resizeDiv_bl,.dynDiv_resizeDiv_br {
 width: 10px;
 height: 10px;
 background: #750000;
 border: 1px solid #000;
 position: absolute;
}

.dynDiv_resizeDiv_tl {
 top: -1px;
 left: -1px;
 cursor: nw-resize;
}

.dynDiv_resizeDiv_tr {
 top: -1px;
 right: -1px;
 cursor: ne-resize;
}

.dynDiv_resizeDiv_bl {
 bottom: -1px;
 left: -1px;
 cursor: sw-resize;
}

.dynDiv_resizeDiv_br {
 bottom: -1px;
 right: -1px;
 cursor: se-resize;
}

.dynDiv_moveParentDiv {
 width: 100%;
 margin: auto;
 height: auto;
 font-size: 1.5em;
 position: absolute;
 top: -1px;
 left: -1px;
 background: #750000;
 border: 1px solid #fff;
 border-left: 0;
 border-right: 0;
 padding: 0;
 overflow: hidden;
 white-space:nowrap;
 cursor: move;
}

.dynDiv_minmaxDiv {
 position: absolute;
 top: 1px;
 right: 15px;
 width: 15px;
 height: 15px;
 background: #750000;
 font-size: 15px;
 padding: 0;
 margin: 0;
}

#spectrum {
	width: 100%;
}

#spectrumPanel {
	width: 100%;
	height:100%;
	flex-grow: 1;
	display: flex;
	flex-flow: column;
}

.dropdown LI label.btn {
    padding-left: 0;
}
