
python_env/*
!python_env/lib/python2\.7/site\-packages/pyteomics/*\.py
python3_env/
\.idea/
dbs/\.directory
dbs/tmp/*
!dbs/tmp/.gitkeep
dbs/saved/*
!dbs/saved/.gitkeep
log/*
!log/.gitkeep

test\.db

dbs/xiSPEC\.db

py/test\.py

py/parser\.py3
